{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Академия юных талантов</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
    {% include 'inc/_header.html' %}
    <main class='container'>
        {% block content %} 
        {% endblock %}
    </main>
    {% include 'inc/_footer.html' %}
</body>
</html>