{% extends "base.html" %}

{% load static %}
{% load event_filters %}

{% block content %}
{% if not clubs %}
<h2 class="message">Сейчас, к сожалению, нет информации о кружках</h2>
{% else %}
<section id="clubs">
    {% for club in clubs %}
    <article id='club-{{ club.id }}' class="club">
        <img src="/media/{{ club.logo }}" alt="">
        <h2>{{ club.name }}</h2>
    </article>
    <article id='club-{{ club.id }}-more-info'> 
        <h2>{{ club.name }}</h2>
        <h3>Руководитель: {{ club.supervisor }}</h3>
        <p>{{ club.description }}</p>
        <p>Участников: {{ club|get_members_count }} из {{ club.capacity }}</p>
    </article>
    {% endfor %}
</section>
{% endif %}
{% endblock %}

