{% extends "base.html" %}

{% load static %}
{% load event_filters %}

{% block content %}
{% if not events %}
<h2 class="message">Сейчас, к сожалению, нет информации о мероприятиях</h2>
{% else %}
<section id="events">
    {% for event in events %}
    <article data-fancybox href="#event-{{ event.id }}-more-info" id='event-{{ event.id }}' class="event">
        {% if event.logo %}
        <img src="/media/{{ event.logo }}" alt="">
        {% endif %}
        <h2>{{ event.name }}</h2>
    </article>
    <article id='event-{{ event.id }}-more-info' class="modal">
        <h2>{{ event.name }}</h2>
        <p>{{ event.description }}</p>
        <p>Участников: {{ event|get_members_count }} из {{ event.capacity }}</p>
        {% if user not in event|get_members %}
            {% if event|get_members_count < event.capacity %}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="event-id" value="{{ event.id }}">
                <button type="submit">Записаться</button>
            </form>
            {% else %}
            <p>К сожалению, на данный момент, свободных мест нет</p>
            {% endif %}
        {% else %}
        <p>Вы являетесь участником!</p>
        <a href="/profile/">Отменить запись в профиле</a>
        {% endif %}
    </article>
    {% endfor %}
</section>
{% endif %}
{% endblock %}