{% extends 'base.html' %}

{% block content %}
<section class="auth-container">
    <header class="auth-header">
        <h1 style="font-size: 32px; margin-bottom: 8px;">Смена пароля</h1>
        <p style="color: var(--text-muted);">Введите данные</p>
    </header>

    <section class="form-card">
        <form method="post">
            {% csrf_token %}
            <article class="form-group">
                <label for="id_old_password">Текущий пароль:</label>
                <input type="password" name="old_password" autocomplete="current-password" placeholder="Введите ваш пароль" required="" id="id_old_password">
            </article>
            <article class="form-group">
                <label for="id_new_password">Новый пароль:</label>
                <input type="password" name="new_password" placeholder="Введите новый пароль" required="" id="id_new_password">
            </article>
            <article class="form-group">
                <label for="id_confirm_password">Повторите новый пароль:</label>
                <input type="password" name="confirm_password" placeholder="Введите ваш пароль" required="" id="id_confirm_password">
            </article>
            <button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 8px;">Сменить</button>
        </form>
    </section>
</section>
{% endblock %}